// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Square from "../../../../../index";

export declare namespace SubscriptionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SubscriptionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SubscriptionsClient.Options>;

    constructor(options: SubscriptionsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists all webhook subscriptions owned by your application.
     *
     * @param {Square.webhooks.ListSubscriptionsRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.list({
     *         cursor: "cursor",
     *         includeDisabled: true,
     *         sortOrder: "DESC",
     *         limit: 1
     *     })
     */
    public async list(
        request: Square.webhooks.ListSubscriptionsRequest = {},
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.Page<Square.WebhookSubscription, Square.ListWebhookSubscriptionsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Square.webhooks.ListSubscriptionsRequest,
            ): Promise<core.WithRawResponse<Square.ListWebhookSubscriptionsResponse>> => {
                const { cursor, includeDisabled, sortOrder, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_disabled: includeDisabled,
                    sort_order:
                        sortOrder !== undefined
                            ? serializers.SortOrder.jsonOrThrow(sortOrder, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : null,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SquareEnvironment.Production,
                        "v2/webhooks/subscriptions",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListWebhookSubscriptionsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SquareError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/webhooks/subscriptions",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Square.WebhookSubscription, Square.ListWebhookSubscriptionsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.cursor != null && !(typeof response?.cursor === "string" && response?.cursor === ""),
            getItems: (response) => response?.subscriptions ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.cursor));
            },
        });
    }

    /**
     * Creates a webhook subscription.
     *
     * @param {Square.webhooks.CreateWebhookSubscriptionRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.create({
     *         idempotencyKey: "63f84c6c-2200-4c99-846c-2670a1311fbf",
     *         subscription: {
     *             name: "Example Webhook Subscription",
     *             eventTypes: ["payment.created", "payment.updated"],
     *             notificationUrl: "https://example-webhook-url.com",
     *             apiVersion: "2021-12-15"
     *         }
     *     })
     */
    public create(
        request: Square.webhooks.CreateWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.CreateWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Square.webhooks.CreateWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.CreateWebhookSubscriptionResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/webhooks/subscriptions",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.webhooks.CreateWebhookSubscriptionRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreateWebhookSubscriptionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/webhooks/subscriptions");
    }

    /**
     * Retrieves a webhook subscription identified by its ID.
     *
     * @param {Square.webhooks.GetSubscriptionsRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.get({
     *         subscriptionId: "subscription_id"
     *     })
     */
    public get(
        request: Square.webhooks.GetSubscriptionsRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.GetWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Square.webhooks.GetSubscriptionsRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.GetWebhookSubscriptionResponse>> {
        const { subscriptionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetWebhookSubscriptionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/webhooks/subscriptions/{subscription_id}",
        );
    }

    /**
     * Updates a webhook subscription.
     *
     * @param {Square.webhooks.UpdateWebhookSubscriptionRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.update({
     *         subscriptionId: "subscription_id",
     *         subscription: {
     *             name: "Updated Example Webhook Subscription",
     *             enabled: false
     *         }
     *     })
     */
    public update(
        request: Square.webhooks.UpdateWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.UpdateWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__update(request, requestOptions));
    }

    private async __update(
        request: Square.webhooks.UpdateWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.UpdateWebhookSubscriptionResponse>> {
        const { subscriptionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.webhooks.UpdateWebhookSubscriptionRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UpdateWebhookSubscriptionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/webhooks/subscriptions/{subscription_id}",
        );
    }

    /**
     * Deletes a webhook subscription.
     *
     * @param {Square.webhooks.DeleteSubscriptionsRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.delete({
     *         subscriptionId: "subscription_id"
     *     })
     */
    public delete(
        request: Square.webhooks.DeleteSubscriptionsRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.DeleteWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__delete(request, requestOptions));
    }

    private async __delete(
        request: Square.webhooks.DeleteSubscriptionsRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.DeleteWebhookSubscriptionResponse>> {
        const { subscriptionId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(subscriptionId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DeleteWebhookSubscriptionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/v2/webhooks/subscriptions/{subscription_id}",
        );
    }

    /**
     * Updates a webhook subscription by replacing the existing signature key with a new one.
     *
     * @param {Square.webhooks.UpdateWebhookSubscriptionSignatureKeyRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.updateSignatureKey({
     *         subscriptionId: "subscription_id",
     *         idempotencyKey: "ed80ae6b-0654-473b-bbab-a39aee89a60d"
     *     })
     */
    public updateSignatureKey(
        request: Square.webhooks.UpdateWebhookSubscriptionSignatureKeyRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.UpdateWebhookSubscriptionSignatureKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateSignatureKey(request, requestOptions));
    }

    private async __updateSignatureKey(
        request: Square.webhooks.UpdateWebhookSubscriptionSignatureKeyRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.UpdateWebhookSubscriptionSignatureKeyResponse>> {
        const { subscriptionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(subscriptionId)}/signature-key`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.webhooks.UpdateWebhookSubscriptionSignatureKeyRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UpdateWebhookSubscriptionSignatureKeyResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/webhooks/subscriptions/{subscription_id}/signature-key",
        );
    }

    /**
     * Tests a webhook subscription by sending a test event to the notification URL.
     *
     * @param {Square.webhooks.TestWebhookSubscriptionRequest} request
     * @param {SubscriptionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.webhooks.subscriptions.test({
     *         subscriptionId: "subscription_id",
     *         eventType: "payment.created"
     *     })
     */
    public test(
        request: Square.webhooks.TestWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.TestWebhookSubscriptionResponse> {
        return core.HttpResponsePromise.fromPromise(this.__test(request, requestOptions));
    }

    private async __test(
        request: Square.webhooks.TestWebhookSubscriptionRequest,
        requestOptions?: SubscriptionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.TestWebhookSubscriptionResponse>> {
        const { subscriptionId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/webhooks/subscriptions/${core.url.encodePathParam(subscriptionId)}/test`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.webhooks.TestWebhookSubscriptionRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.TestWebhookSubscriptionResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/webhooks/subscriptions/{subscription_id}/test",
        );
    }
}
