{
  "openapi": "3.0.0",
  "info": {
    "version": "2.0",
    "title": "Square",
    "description": "Use Square APIs to manage and run business including payment, customer, product, inventory, and employee management.",
    "termsOfService": "https://connect.squareup.com/tos",
    "contact": {
      "name": "Square Developer Platform",
      "email": "developers@squareup.com",
      "url": "https://squareup.com/developers"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "externalDocs": {
      "description": "Read the official documentation here:",
      "url": "https://docs.connect.squareup.com/"
    },
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://connect.squareup.com"
            }
          ]
        },
        {
          "name": "sandbox",
          "servers": [
            {
              "name": "default",
              "url": "https://connect.squareupsandbox.com"
            }
          ]
        },
        {
          "name": "custom",
          "servers": [
            {
              "name": "default",
              "url": "{custom_url}"
            }
          ]
        }
      ],
      "parameters": [
        {
          "name": "custom_url",
          "description": "Sets the base URL requests are made to. Defaults to `https://connect.squareup.com`",
          "type": "string",
          "example": "https://connect.squareup.com"
        }
      ]
    },
    "x-square-generic-error-codes": [
      "ACCESS_TOKEN_EXPIRED",
      "ACCESS_TOKEN_REVOKED",
      "API_VERSION_INCOMPATIBLE",
      "APPLICATION_DISABLED",
      "ARRAY_EMPTY",
      "ARRAY_LENGTH_TOO_LONG",
      "ARRAY_LENGTH_TOO_SHORT",
      "BAD_CERTIFICATE",
      "BAD_GATEWAY",
      "BAD_REQUEST",
      "CONFLICT",
      "CONFLICTING_PARAMETERS",
      "CURRENCY_MISMATCH",
      "EXPECTED_ARRAY",
      "EXPECTED_BASE64_ENCODED_BYTE_ARRAY",
      "EXPECTED_BOOLEAN",
      "EXPECTED_FLOAT",
      "EXPECTED_INTEGER",
      "EXPECTED_JSON_BODY",
      "EXPECTED_MAP",
      "EXPECTED_OBJECT",
      "EXPECTED_STRING",
      "FORBIDDEN",
      "GATEWAY_TIMEOUT",
      "GONE",
      "IDEMPOTENCY_KEY_REUSED",
      "INCORRECT_TYPE",
      "INSUFFICIENT_SCOPES",
      "INTERNAL_SERVER_ERROR",
      "INVALID_ARRAY_VALUE",
      "INVALID_CONTENT_TYPE",
      "INVALID_CURSOR",
      "INVALID_ENUM_VALUE",
      "INVALID_FORM_VALUE",
      "INVALID_SORT_ORDER",
      "INVALID_SQUARE_VERSION_FORMAT",
      "INVALID_TIME",
      "INVALID_TIME_RANGE",
      "INVALID_VALUE",
      "LOCATION_MISMATCH",
      "MAP_KEY_LENGTH_TOO_LONG",
      "MAP_KEY_LENGTH_TOO_SHORT",
      "MERCHANT_SUBSCRIPTION_NOT_FOUND",
      "METHOD_NOT_ALLOWED",
      "MISSING_REQUIRED_PARAMETER",
      "NOT_ACCEPTABLE",
      "NOT_FOUND",
      "NOT_IMPLEMENTED",
      "NO_FIELDS_SET",
      "RATE_LIMITED",
      "REQUEST_ENTITY_TOO_LARGE",
      "REQUEST_TIMEOUT",
      "SANDBOX_NOT_SUPPORTED",
      "SERVICE_UNAVAILABLE",
      "TOO_MANY_MAP_ENTRIES",
      "UNAUTHORIZED",
      "UNEXPECTED_VALUE",
      "UNKNOWN_BODY_PARAMETER",
      "UNKNOWN_QUERY_PARAMETER",
      "UNPROCESSABLE_ENTITY",
      "UNSUPPORTED_MEDIA_TYPE",
      "V1_ACCESS_TOKEN",
      "V1_APPLICATION",
      "VALUE_EMPTY",
      "VALUE_REGEX_MISMATCH",
      "VALUE_TOO_HIGH",
      "VALUE_TOO_LONG",
      "VALUE_TOO_LOW",
      "VALUE_TOO_SHORT"
    ]
  },
  "servers": [
    {
      "url": "https://connect.squareup.com",
      "variables": {}
    }
  ],
  "components": {
    "securitySchemes": {
      "oauth2": {
        "type": "oauth2",
        "x-additional-headers": [
          {
            "name": "Square-Version",
            "description": "Square Connect API versions",
            "schema": {
              "default": "2025-07-16"
            }
          }
        ],
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://connect.squareup.com/oauth2/authorize",
            "tokenUrl": "https://connect.squareup.com/oauth2/token",
            "scopes": {
              "ADDON_CONFIGURATIONS_READ": "__HTTP Method__: `GET`\n\nGrants write access for third-party Add-ons to read configurations of their Add-ons, for example, when calling `RetrieveConfiguration` endpoint.",
              "ADDON_CONFIGURATIONS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access for third-party Add-ons to store configurations of their Add-ons, for example, when calling `CreateConfiguration` endpoint.",
              "APPOINTMENTS_ALL_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to all of a seller's booking information, calendar, and business details.\nThis permission must be accompanied by the `APPOINTMENTS_READ` permission.",
              "APPOINTMENTS_ALL_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to all booking details, including double-booking a seller.\nThis permission must be accompanied by the `APPOINTMENTS_WRITE` permission.",
              "APPOINTMENTS_BUSINESS_SETTINGS_READ": "__HTTP Method__: `GET`\n\nGrants read access to booking business settings. For example, to call the\nListTeamMemberBookingProfiles endpoint.",
              "APPOINTMENTS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to booking information. For example, to call the\nRetrieveBooking endpoint.",
              "APPOINTMENTS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to booking information. For example, to call the CreateBooking endpoint.",
              "BANK_ACCOUNTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to bank account information associated with the targeted\nSquare account. For example, to call the Connect v1 ListBankAccounts endpoint.",
              "CASH_DRAWER_READ": "__HTTP Method__: `GET`\n\nGrants read access to cash drawer shift information. For example, to call the\nListCashDrawerShifts endpoint.",
              "CHANNELS_CREATE": "__HTTP Method__: `POST`\n\nGrants write access to create channels, for example, when calling the\n`CreateChannel` endpoint.",
              "CHANNELS_READ": "__HTTP Method__: `GET`\n\nGrants read access to view channels, for example, when calling the\n`RetrieveChannel` endpoint.",
              "CHANNELS_UPDATE": "__HTTP Method__: `PUT`\n\nGrants write access to update channels, for example, when calling the\n`UpdateChannel` endpoint.",
              "CUSTOMERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to customer information. For example, to call the\nListCustomers endpoint.",
              "CUSTOMERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to customer information. For example, to create and update\ncustomer profiles.",
              "DEVICES_READ": "__HTTP Method__: `GET`\n\nGrants read access to device information. For example, to\ncall the `GetDevice` and `ListDevices` endpoints.",
              "DEVICE_CREDENTIAL_MANAGEMENT": "__HTTP Method__: `POST`, `GET`\n\nGrants read/write access to device credentials information. For example, to\ncall the CreateDeviceCode endpoint.",
              "DISCOUNT_CODES_READ": "__HTTP Method__: `GET`\n\nGrants read access to Discount Codes API. For example, to call the `RetrieveDiscountCode` and `RetrieveRedemption` endpoints.",
              "DISCOUNT_CODES_WRITE": "__HTTP Method__: `POST`\n\nGrants write access to Discount Codes API.",
              "DISPUTES_READ": "__HTTP Method__: `GET`\n\nGrants read access to dispute information. For example, to call the RetrieveDispute\nendpoint.",
              "DISPUTES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to dispute information. For example, to call the SubmitEvidence\nendpoint.",
              "EMPLOYEES_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee profile information. For example, to call the\nConnect v1 Employees API.",
              "EMPLOYEES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee profile information. For example, to create\nand modify employee profiles.",
              "GIFTCARDS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to gift card information. For example, to call the RetrieveGiftCard\nendpoint.",
              "GIFTCARDS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to gift card information. For example, to call the CreateGiftCard\nendpoint.",
              "INVENTORY_READ": "__HTTP Method__: `GET`\n\nGrants read access to inventory information. For example, to call the\nRetrieveInventoryCount endpoint.",
              "INVENTORY_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to inventory information. For example, to call the\nBatchChangeInventory endpoint.",
              "INVOICES_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to invoice information. For example, to call the ListInvoices endpoint.",
              "INVOICES_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to invoice information. For example, to call the CreateInvoice endpoint.",
              "ITEMS_READ": "__HTTP Method__: `GET`\n\nGrants read access to product catalog information. For example, to obtain objects in a product catalog.",
              "ITEMS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to product catalog information. For example, to modify or\nadd to a product catalog.",
              "LOYALTY_READ": "__HTTP Method__: `GET`\n\nGrants read access to loyalty information. For example, to call the\nListLoyaltyPrograms endpoint.",
              "LOYALTY_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to loyalty information. For example, to call the\nCreateLoyaltyAccount endpoint.",
              "MERCHANT_PROFILE_READ": "__HTTP Method__: `GET`\n\nGrants read access to business and location information. For example, to\nobtain a location ID for subsequent activity.",
              "MERCHANT_PROFILE_WRITE": "__HTTP Method__: `POST`, `PUT`\n\nGrants write access to business and location information. For example, to create a new location or\nupdate the business hours at an existing location.",
              "ONLINE_STORE_SITE_READ": "__HTTP Method__: `GET`, `POST`\n\nRead access to ECOM online store site details.",
              "ONLINE_STORE_SNIPPETS_READ": "__HTTP Method__: `GET`, `POST`\n\nRead access to ECOM online store snippets on published websites.",
              "ONLINE_STORE_SNIPPETS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nWrite access to ECOM online store snippets on published websites.",
              "ORDERS_READ": "__HTTP Method__: `GET`\n\nGrants read access to order information. For example, to call the\nBatchRetrieveOrders endpoint.",
              "ORDERS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to order information. For example, to call the\nCreateCheckout endpoint.",
              "PAYMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to transaction and refund information. For example, to call\nthe RetrieveTransaction endpoint.",
              "PAYMENTS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to transaction and refunds information. For example, to\nprocess payments with the Payments or Checkout API.",
              "PAYMENTS_WRITE_ADDITIONAL_RECIPIENTS": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nAllow third party applications to deduct a portion of each transaction amount.\n__Required__ to use multiparty transaction functionality with the Payments\nAPI.",
              "PAYMENTS_WRITE_IN_PERSON": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to payments and refunds information. For example, to\nprocess in-person payments.",
              "PAYMENTS_WRITE_SHARED_ONFILE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nAllows the developer to process payments on behalf of a seller using a shared on file payment method.",
              "PAYOUTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to payouts and payout entries information. For example,\nto call the Connect v2 `ListPayouts` endpoint.",
              "PERMISSION_SETS_READ": "__HTTP Method__: `GET`\n\nGrants read access to Permission Sets. For example, to\ncall the `ListPermissionSets` and `RetrievePermissionSet` endpoints.",
              "PERMISSION_SETS_WRITE": "__HTTP Method__: `PUT`\n\nGrants write access to Permission Sets.",
              "RESERVATIONS_READ": "__HTTP Method__: `GET`\n\nGrants read access to reservation information, for example, when calling the\n`RetrieveReservation` endpoint.",
              "RESERVATIONS_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to reservation information, for example, when calling the\n`CreateReservation` endpoint.",
              "RESTAURANT_CHECKS_READ": "__HTTP Method__: `GET`\n\nGrants read access to check information, for example, when calling the\n`RetrieveCheck` endpoint.",
              "SETTLEMENTS_READ": "__HTTP Method__: `GET`\n\nGrants read access to settlement (deposit) information. For example, to call\nthe Connect v1 ListSettlements endpoint.",
              "SUBSCRIPTIONS_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to subscription information. For example, to call the RetrieveSubscription\nendpoint.",
              "SUBSCRIPTIONS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to subscription information. For example, to call the CreateSubscription\nendpoint.",
              "TIMECARDS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard information. For example, to call the\nConnect v2 SearchShifts endpoint.",
              "TIMECARDS_SETTINGS_READ": "__HTTP Method__: `GET`\n\nGrants read access to employee timecard settings information. For example, to\ncall the GetBreakType endpoint.",
              "TIMECARDS_SETTINGS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee timecard settings information. For example, to\ncall the UpdateBreakType endpoint.",
              "TIMECARDS_WRITE": "__HTTP Method__: `POST`, `PUT`, `DELETE`\n\nGrants write access to employee shift information. For example, to create\nand modify employee shifts.",
              "VENDOR_READ": "__HTTP Method__: `GET`, `POST`\n\nGrants read access to vendor information, for example, when calling the\n`RetrieveVendor` endpoint.",
              "VENDOR_WRITE": "__HTTP Method__:  `POST`, `PUT`, `DELETE`\n\nGrants write access to vendor information, for example, when calling the\n`BulkUpdateVendors` endpoint."
            }
          }
        }
      },
      "oauth2ClientSecret": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization"
      }
    },
    "schemas": {
      "ACHDetails": {
        "type": "object",
        "description": "ACH-specific details about `BANK_ACCOUNT` type payments with the `transfer_type` of `ACH`.",
        "x-release-status": "PUBLIC",
        "properties": {
          "routing_number": {
            "type": "string",
            "description": "The routing number for the bank account.",
            "maxLength": 50,
            "nullable": true
          },
          "account_number_suffix": {
            "type": "string",
            "description": "The last few digits of the bank account number.",
            "minLength": 1,
            "maxLength": 4,
            "nullable": true
          },
          "account_type": {
            "type": "string",
            "description": "The type of the bank account performing the transfer. The account type can be `CHECKING`,\n`SAVINGS`, or `UNKNOWN`.",
            "maxLength": 50,
            "nullable": true
          }
        }
      },
      "AcceptDisputeResponse": {
        "type": "object",
        "description": "Defines the fields in an `AcceptDispute` response.",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Information about errors encountered during the request."
          },
          "dispute": {
            "$ref": "#/components/schemas/Dispute",
            "description": "Details about the accepted dispute."
          }
        },
        "example": {
          "dispute": {
            "amount_money": {
              "amount": 2500,
              "currency": "USD"
            },
            "brand_dispute_id": "100000809947",
            "card_brand": "VISA",
            "created_at": "2022-06-29T18:45:22.265Z",
            "disputed_payment": {
              "payment_id": "zhyh1ch64kRBrrlfVhwjCEjZWzNZY"
            },
            "due_at": "2022-07-13T00:00:00.000Z",
            "id": "XDgyFu7yo1E2S5lQGGpYn",
            "location_id": "L1HN3ZMQK64X9",
            "reason": "NO_KNOWLEDGE",
            "reported_at": "2022-06-29T00:00:00.000Z",
            "state": "ACCEPTED",
            "updated_at": "2022-07-07T19:14:42.650Z",
            "version": 2
          }
        }
      },
      "AcceptedPaymentMethods": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "apple_pay": {
            "type": "boolean",
            "description": "Whether Apple Pay is accepted at checkout.",
            "nullable": true
          },
          "google_pay": {
            "type": "boolean",
            "description": "Whether Google Pay is accepted at checkout.",
            "nullable": true
          },
          "cash_app_pay": {
            "type": "boolean",
            "description": "Whether Cash App Pay is accepted at checkout.",
            "nullable": true
          },
          "afterpay_clearpay": {
            "type": "boolean",
            "description": "Whether Afterpay/Clearpay is accepted at checkout.",
            "nullable": true
          }
        }
      },
      "AccumulateLoyaltyPointsRequest": {
        "type": "object",
        "description": "Represents an [AccumulateLoyaltyPoints](api-endpoint:Loyalty-AccumulateLoyaltyPoints) request.",
        "x-release-status": "PUBLIC",
        "x-params-example": "?account_id=5adcb100-07f1-4ee7-b8c6-6bb9ebc474bd",
        "required": [
          "accumulate_points",
          "idempotency_key",
          "location_id"
        ],
        "properties": {
          "accumulate_points": {
            "$ref": "#/components/schemas/LoyaltyEventAccumulatePoints",
            "description": "The points to add to the account. \nIf you are using the Orders API to manage orders, specify the order ID.\nOtherwise, specify the points to add."
          },
          "idempotency_key": {
            "type": "string",
            "description": "A unique string that identifies the `AccumulateLoyaltyPoints` request. \nKeys can be any valid string but must be unique for every request.",
            "minLength": 1,
            "maxLength": 128
          },
          "location_id": {
            "type": "string",
            "description": "The [location](entity:Location) where the purchase was made."
          }
        },
        "example": {
          "accumulate_points": {
            "order_id": "RFZfrdtm3mhO1oGzf5Cx7fEMsmGZY"
          },
          "idempotency_key": "58b90739-c3e8-4b11-85f7-e636d48d72cb",
          "location_id": "P034NEENMD09F"
        }
      },
      "AccumulateLoyaltyPointsResponse": {
        "type": "object",
        "description": "Represents an [AccumulateLoyaltyPoints](api-endpoint:Loyalty-AccumulateLoyaltyPoints) response.",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "event": {
            "$ref": "#/components/schemas/LoyaltyEvent",
            "description": "The resulting loyalty event. Starting in Square version 2022-08-17, this field is no longer returned.",
            "x-release-status": "DEPRECATED"
          },
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoyaltyEvent"
            },
            "description": "The resulting loyalty events. If the purchase qualifies for points, the `ACCUMULATE_POINTS` event\nis always included. When using the Orders API, the `ACCUMULATE_PROMOTION_POINTS` event is included\nif the purchase also qualifies for a loyalty promotion."
          }
        },
        "example": {
          "events": [
            {
              "accumulate_points": {
                "loyalty_program_id": "d619f755-2d17-41f3-990d-c04ecedd64dd",
                "order_id": "RFZfrdtm3mhO1oGzf5Cx7fEMsmGZY",
                "points": 6
              },
              "created_at": "2020-05-08T21:41:12Z",
              "id": "ee46aafd-1af6-3695-a385-276e2ef0be26",
              "location_id": "P034NEENMD09F",
              "loyalty_account_id": "5adcb100-07f1-4ee7-b8c6-6bb9ebc474bd",
              "source": "LOYALTY_API",
              "type": "ACCUMULATE_POINTS"
            }
          ]
        }
      },
      "ActionCancelReason": {
        "type": "string",
        "enum": [
          "BUYER_CANCELED",
          "SELLER_CANCELED",
          "TIMED_OUT"
        ],
        "x-enum-elements": [
          {
            "name": "BUYER_CANCELED",
            "description": "A person canceled the `TerminalCheckout` from a Square device."
          },
          {
            "name": "SELLER_CANCELED",
            "description": "A client canceled the `TerminalCheckout` using the API."
          },
          {
            "name": "TIMED_OUT",
            "description": "The `TerminalCheckout` timed out (see `deadline_duration` on the `TerminalCheckout`)."
          }
        ],
        "x-release-status": "PUBLIC"
      },
      "ActivityType": {
        "type": "string",
        "enum": [
          "ADJUSTMENT",
          "APP_FEE_REFUND",
          "APP_FEE_REVENUE",
          "AUTOMATIC_SAVINGS",
          "AUTOMATIC_SAVINGS_REVERSED",
          "CHARGE",
          "DEPOSIT_FEE",
          "DEPOSIT_FEE_REVERSED",
          "DISPUTE",
          "ESCHEATMENT",
          "FEE",
          "FREE_PROCESSING",
          "HOLD_ADJUSTMENT",
          "INITIAL_BALANCE_CHANGE",
          "MONEY_TRANSFER",
          "MONEY_TRANSFER_REVERSAL",
          "OPEN_DISPUTE",
          "OTHER",
          "OTHER_ADJUSTMENT",
          "PAID_SERVICE_FEE",
          "PAID_SERVICE_FEE_REFUND",
          "REDEMPTION_CODE",
          "REFUND",
          "RELEASE_ADJUSTMENT",
          "RESERVE_HOLD",
          "RESERVE_RELEASE",
          "RETURNED_PAYOUT",
          "SQUARE_CAPITAL_PAYMENT",
          "SQUARE_CAPITAL_REVERSED_PAYMENT",
          "SUBSCRIPTION_FEE",
          "SUBSCRIPTION_FEE_PAID_REFUND",
          "SUBSCRIPTION_FEE_REFUND",
          "TAX_ON_FEE",
          "THIRD_PARTY_FEE",
          "THIRD_PARTY_FEE_REFUND",
          "PAYOUT",
          "AUTOMATIC_BITCOIN_CONVERSIONS",
          "AUTOMATIC_BITCOIN_CONVERSIONS_REVERSED",
          "CREDIT_CARD_REPAYMENT",
          "CREDIT_CARD_REPAYMENT_REVERSED",
          "LOCAL_OFFERS_CASHBACK",
          "LOCAL_OFFERS_FEE",
          "PERCENTAGE_PROCESSING_ENROLLMENT",
          "PERCENTAGE_PROCESSING_DEACTIVATION",
          "PERCENTAGE_PROCESSING_REPAYMENT",
          "PERCENTAGE_PROCESSING_REPAYMENT_REVERSED",
          "PROCESSING_FEE",
          "PROCESSING_FEE_REFUND",
          "UNDO_PROCESSING_FEE_REFUND",
          "GIFT_CARD_LOAD_FEE",
          "GIFT_CARD_LOAD_FEE_REFUND",
          "UNDO_GIFT_CARD_LOAD_FEE_REFUND",
          "BALANCE_FOLDERS_TRANSFER",
          "BALANCE_FOLDERS_TRANSFER_REVERSED",
          "GIFT_CARD_POOL_TRANSFER",
          "GIFT_CARD_POOL_TRANSFER_REVERSED",
          "SQUARE_PAYROLL_TRANSFER",
          "SQUARE_PAYROLL_TRANSFER_REVERSED"
        ],
        "x-enum-elements": [
          {
            "name": "ADJUSTMENT",
            "description": "A manual adjustment applied to the seller's account by Square."
          },
          {
            "name": "APP_FEE_REFUND",
            "description": "A refund for an application fee on a payment."
          },
          {
            "name": "APP_FEE_REVENUE",
            "description": "Revenue generated from an application fee on a payment."
          },
          {
            "name": "AUTOMATIC_SAVINGS",
            "description": "An automatic transfer from the payment processing balance to the Square Savings account. These are generally proportional to the seller's sales."
          },
          {
            "name": "AUTOMATIC_SAVINGS_REVERSED",
            "description": "An automatic transfer from the Square Savings account back to the processing balance. These are generally proportional to the seller's refunds."
          },
          {
            "name": "CHARGE",
            "description": "A credit card payment capture."
          },
          {
            "name": "DEPOSIT_FEE",
            "description": "A fee assessed because of a deposit, such as an instant deposit."
          },
          {
            "name": "DEPOSIT_FEE_REVERSED",
            "description": "Indicates that Square returned a fee that was previously assessed because of a deposit, such as an instant deposit, back to the seller's account."
          },
          {
            "name": "DISPUTE",
            "description": "The balance change due to a dispute event."
          },
          {
            "name": "ESCHEATMENT",
            "description": "An escheatment entry for remittance."
          },
          {
            "name": "FEE",
            "description": "The cost plus adjustment fee."
          },
          {
            "name": "FREE_PROCESSING",
            "description": "Square offers free payments processing for a variety of business scenarios, including seller\nreferrals or when Square wants to apologize (for example, for a bug, customer service, or repricing complication).\nThis entry represents a credit to the seller for the purposes of free processing."
          },
          {
            "name": "HOLD_ADJUSTMENT",
            "description": "An adjustment made by Square related to holding a payment."
          },
          {
            "name": "INITIAL_BALANCE_CHANGE",
            "description": "An external change to a seller's balance (initial, in the sense that it causes the creation of the other activity types, such as a hold and refund)."
          },
          {
            "name": "MONEY_TRANSFER",
            "description": "The balance change from a money transfer."
          },
          {
            "name": "MONEY_TRANSFER_REVERSAL",
            "description": "The reversal of a money transfer."
          },
          {
            "name": "OPEN_DISPUTE",
            "description": "The balance change for a chargeback that's been filed."
          },
          {
            "name": "OTHER",
            "description": "Any other type that doesn't belong in the rest of the types."
          },
          {
            "name": "OTHER_ADJUSTMENT",
            "description": "Any other type of adjustment that doesn't fall under existing types."
          },
          {
            "name": "PAID_SERVICE_FEE",
            "description": "A fee paid to a third-party seller."
          },
          {
            "name": "PAID_SERVICE_FEE_REFUND",
            "description": "A fee refunded to a third-party seller."
          },
          {
            "name": "REDEMPTION_CODE",
            "description": "Repayment for a redemption code."
          },
          {
            "name": "REFUND",
            "description": "A refund for an existing card payment."
          },
          {
            "name": "RELEASE_ADJUSTMENT",
            "description": "An adjustment made by Square related to releasing a payment."
          },
          {
            "name": "RESERVE_HOLD",
            "description": "Fees paid for a funding risk reserve."
          },
          {
            "name": "RESERVE_RELEASE",
            "description": "Fees released from a risk reserve."
          },
          {
            "name": "RETURNED_PAYOUT",
            "description": "An entry created when Square receives a response for the ACH file that Square sent indicating that the\nsettlement of the original entry failed."
          },
          {
            "name": "SQUARE_CAPITAL_PAYMENT",
            "description": "A capital merchant cash advance (MCA) assessment. These are generally proportional to the merchant's sales but can be issued for other reasons related to the MCA."
          },
          {
            "name": "SQUARE_CAPITAL_REVERSED_PAYMENT",
            "description": "A capital merchant cash advance (MCA) assessment refund. These are generally proportional to the merchant's refunds but can be issued for other reasons related to the MCA."
          },
          {
            "name": "SUBSCRIPTION_FEE",
            "description": "A fee charged for subscription to a Square product."
          },
          {
            "name": "SUBSCRIPTION_FEE_PAID_REFUND",
            "description": "A Square subscription fee that's been refunded."
          },
          {
            "name": "SUBSCRIPTION_FEE_REFUND",
            "description": "The refund of a previously charged Square product subscription fee."
          },
          {
            "name": "TAX_ON_FEE",
            "description": "The tax paid on fee amounts."
          },
          {
            "name": "THIRD_PARTY_FEE",
            "description": "Fees collected by a third-party platform."
          },
          {
            "name": "THIRD_PARTY_FEE_REFUND",
            "description": "Refunded fees from a third-party platform."
          },
          {
            "name": "PAYOUT",
            "description": "The balance change due to a money transfer. Note that this type is never returned by the Payouts API."
          },
          {
            "name": "AUTOMATIC_BITCOIN_CONVERSIONS",
            "description": "Indicates that the portion of each payment withheld by Square was automatically converted into bitcoin using Cash App. The seller manages their bitcoin in their Cash App account."
          },
          {
            "name": "AUTOMATIC_BITCOIN_CONVERSIONS_REVERSED",
            "description": "Indicates that a withheld payment, which was scheduled to be converted into bitcoin using Cash App, was deposited back to the Square payments balance."
          },
          {
            "name": "CREDIT_CARD_REPAYMENT",
            "description": "Indicates that a repayment toward the outstanding balance on the seller's Square credit card was made."
          },
          {
            "name": "CREDIT_CARD_REPAYMENT_REVERSED",
            "description": "Indicates that a repayment toward the outstanding balance on the seller's Square credit card was reversed."
          },
          {
            "name": "LOCAL_OFFERS_CASHBACK",
            "description": "Cashback amount given by a Square Local Offers seller to their customer for a purchase."
          },
          {
            "name": "LOCAL_OFFERS_FEE",
            "description": "A commission fee paid by a Square Local Offers seller to Square for a purchase discovered through Square Local Offers."
          },
          {
            "name": "PERCENTAGE_PROCESSING_ENROLLMENT",
            "description": "When activating Percentage Processing, a credit is applied to the seller’s account to offset any negative balance caused by a dispute."
          },
          {
            "name": "PERCENTAGE_PROCESSING_DEACTIVATION",
            "description": "Deducting the outstanding Percentage Processing balance from the seller’s account. It's the final installment in repaying the dispute-induced negative balance through percentage processing."
          },
          {
            "name": "PERCENTAGE_PROCESSING_REPAYMENT",
            "description": "Withheld funds from a payment to cover a negative balance. It's an installment to repay the amount from a dispute that had been offset during Percentage Processing enrollment."
          },
          {
            "name": "PERCENTAGE_PROCESSING_REPAYMENT_REVERSED",
            "description": "The reversal of a percentage processing repayment that happens for example when a refund is issued for a payment."
          },
          {
            "name": "PROCESSING_FEE",
            "description": "The processing fee for a payment. If sellers opt for Gross Settlement, i.e., direct bank withdrawal instead of deducting fees from daily sales, the processing fee is recorded separately as a new payout entry, not part of the CHARGE payout entry."
          },
          {
            "name": "PROCESSING_FEE_REFUND",
            "description": "The processing fee for a payment refund issued by sellers enrolled in Gross Settlement. The refunded processing fee is recorded separately as a new payout entry, not part of the REFUND payout entry."
          },
          {
            "name": "UNDO_PROCESSING_FEE_REFUND",
            "description": "When undoing a processing fee refund in a Gross Settlement payment, this payout entry type is used."
          },
          {
            "name": "GIFT_CARD_LOAD_FEE",
            "description": "Fee collected during the sale or reload of a gift card. This fee, which is a portion of the amount loaded on the gift card, is deducted from the merchant's payment balance."
          },
          {
            "name": "GIFT_CARD_LOAD_FEE_REFUND",
            "description": "Refund for fee charged during the sale or reload of a gift card."
          },
          {
            "name": "UNDO_GIFT_CARD_LOAD_FEE_REFUND",
            "description": "The undo of a refund for a fee charged during the sale or reload of a gift card."
          },
          {
            "name": "BALANCE_FOLDERS_TRANSFER",
            "description": "A transfer of funds to a banking folder. In the United States, the folder name is 'Checking Folder'; in Canada, it's 'Balance Folder.'"
          },
          {
            "name": "BALANCE_FOLDERS_TRANSFER_REVERSED",
            "description": "A reversal of transfer of funds from a banking folder. In the United States, the folder name is 'Checking Folder'; in Canada, it's 'Balance Folder.'"
          },
          {
            "name": "GIFT_CARD_POOL_TRANSFER",
            "description": "A transfer of gift card funds to a central gift card pool account. In franchises, when gift cards are loaded or reloaded at any location, the money transfers to the franchisor's account."
          },
          {
            "name": "GIFT_CARD_POOL_TRANSFER_REVERSED",
            "description": "A reversal of transfer of gift card funds from a central gift card pool account. In franchises, when gift cards are loaded or reloaded at any location, the money transfers to the franchisor's account."
          },
          {
            "name": "SQUARE_PAYROLL_TRANSFER",
            "description": "A payroll payment that was transferred to a team member’s bank account."
          },
          {
            "name": "SQUARE_PAYROLL_TRANSFER_REVERSED",
            "description": "A payroll payment to a team member’s bank account that was deposited back to the seller’s account by Square."
          }
        ],
        "x-release-status": "PUBLIC"
      },
      "AddGroupToCustomerResponse": {
        "type": "object",
        "description": "Defines the fields that are included in the response body of\na request to the [AddGroupToCustomer](api-endpoint:Customers-AddGroupToCustomer) endpoint.",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          }
        },
        "example": {}
      },
      "AdditionalRecipient": {
        "type": "object",
        "description": "Represents an additional recipient (other than the merchant) receiving a portion of this tender.",
        "x-release-status": "DEPRECATED",
        "required": [
          "location_id",
          "amount_money"
        ],
        "properties": {
          "location_id": {
            "type": "string",
            "description": "The location ID for a recipient (other than the merchant) receiving a portion of this tender.",
            "minLength": 1,
            "maxLength": 50
          },
          "description": {
            "type": "string",
            "description": "The description of the additional recipient.",
            "maxLength": 100,
            "nullable": true
          },
          "amount_money": {
            "$ref": "#/components/schemas/Money",
            "description": "The amount of money distributed to the recipient."
          },
          "receivable_id": {
            "type": "string",
            "description": "The unique ID for the RETIRED `AdditionalRecipientReceivable` object. This field should be empty for any `AdditionalRecipient` objects created after the retirement.",
            "maxLength": 192,
            "nullable": true
          }
        }
      },
      "Address": {
        "type": "object",
        "description": "Represents a postal address in a country. \nFor more information, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
        "x-release-status": "PUBLIC",
        "properties": {
          "address_line_1": {
            "type": "string",
            "description": "The first line of the address.\n\nFields that start with `address_line` provide the address's most specific\ndetails, like street number, street name, and building name. They do *not*\nprovide less specific details like city, state/province, or country (these\ndetails are provided in other fields).",
            "nullable": true
          },
          "address_line_2": {
            "type": "string",
            "description": "The second line of the address, if any.",
            "nullable": true
          },
          "address_line_3": {
            "type": "string",
            "description": "The third line of the address, if any.",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "description": "The city or town of the address. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "sublocality": {
            "type": "string",
            "description": "A civil region within the address's `locality`, if any.",
            "nullable": true
          },
          "sublocality_2": {
            "type": "string",
            "description": "A civil region within the address's `sublocality`, if any.",
            "nullable": true
          },
          "sublocality_3": {
            "type": "string",
            "description": "A civil region within the address's `sublocality_2`, if any.",
            "nullable": true
          },
          "administrative_district_level_1": {
            "type": "string",
            "description": "A civil entity within the address's country. In the US, this\nis the state. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "administrative_district_level_2": {
            "type": "string",
            "description": "A civil entity within the address's `administrative_district_level_1`.\nIn the US, this is the county.",
            "nullable": true
          },
          "administrative_district_level_3": {
            "type": "string",
            "description": "A civil entity within the address's `administrative_district_level_2`,\nif any.",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "description": "The address's postal code. For a full list of field meanings by country, see [Working with Addresses](https://developer.squareup.com/docs/build-basics/working-with-addresses).",
            "nullable": true
          },
          "country": {
            "$ref": "#/components/schemas/Country",
            "description": "The address's country, in the two-letter format of ISO 3166. For example, `US` or `FR`.\nSee [Country](#type-country) for possible values",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "description": "Optional first name when it's representing recipient.",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "description": "Optional last name when it's representing recipient.",
            "nullable": true
          }
        }
      },
      "AdjustLoyaltyPointsRequest": {
        "type": "object",
        "description": "Represents an [AdjustLoyaltyPoints](api-endpoint:Loyalty-AdjustLoyaltyPoints) request.",
        "x-release-status": "PUBLIC",
        "x-params-example": "?account_id=5adcb100-07f1-4ee7-b8c6-6bb9ebc474bd",
        "required": [
          "idempotency_key",
          "adjust_points"
        ],
        "properties": {
          "idempotency_key": {
            "type": "string",
            "description": "A unique string that identifies this `AdjustLoyaltyPoints` request. \nKeys can be any valid string, but must be unique for every request.",
            "minLength": 1,
            "maxLength": 128
          },
          "adjust_points": {
            "$ref": "#/components/schemas/LoyaltyEventAdjustPoints",
            "description": "The points to add or subtract and the reason for the adjustment. To add points, specify a positive integer.\nTo subtract points, specify a negative integer."
          },
          "allow_negative_balance": {
            "type": "boolean",
            "description": "Indicates whether to allow a negative adjustment to result in a negative balance. If `true`, a negative\nbalance is allowed when subtracting points. If `false`, Square returns a `BAD_REQUEST` error when subtracting\nthe specified number of points would result in a negative balance. The default value is `false`.",
            "nullable": true
          }
        },
        "example": {
          "adjust_points": {
            "points": 10,
            "reason": "Complimentary points"
          },
          "idempotency_key": "bc29a517-3dc9-450e-aa76-fae39ee849d1"
        }
      },
      "AdjustLoyaltyPointsResponse": {
        "type": "object",
        "description": "Represents an [AdjustLoyaltyPoints](api-endpoint:Loyalty-AdjustLoyaltyPoints) request.",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "event": {
            "$ref": "#/components/schemas/LoyaltyEvent",
            "description": "The resulting event data for the adjustment."
          }
        },
        "example": {
          "event": {
            "adjust_points": {
              "loyalty_program_id": "d619f755-2d17-41f3-990d-c04ecedd64dd",
              "points": 10,
              "reason": "Complimentary points"
            },
            "created_at": "2020-05-08T21:42:32Z",
            "id": "613a6fca-8d67-39d0-bad2-3b4bc45c8637",
            "loyalty_account_id": "5adcb100-07f1-4ee7-b8c6-6bb9ebc474bd",
            "source": "LOYALTY_API",
            "type": "ADJUST_POINTS"
          }
        }
      },
      "AfterpayDetails": {
        "type": "object",
        "description": "Additional details about Afterpay payments.",
        "x-release-status": "PUBLIC",
        "properties": {
          "email_address": {
            "type": "string",
            "description": "Email address on the buyer's Afterpay account.",
            "maxLength": 255,
            "nullable": true
          }
        }
      },
      "ApplicationDetails": {
        "type": "object",
        "description": "Details about the application that took the payment.",
        "x-release-status": "PUBLIC",
        "properties": {
          "square_product": {
            "$ref": "#/components/schemas/ApplicationDetailsExternalSquareProduct",
            "description": "The Square product, such as Square Point of Sale (POS), \nSquare Invoices, or Square Virtual Terminal.\nSee [ExternalSquareProduct](#type-externalsquareproduct) for possible values",
            "nullable": true
          },
          "application_id": {
            "type": "string",
            "description": "The Square ID assigned to the application used to take the payment. \nApplication developers can use this information to identify payments that \ntheir application processed. \nFor example, if a developer uses a custom application to process payments, \nthis field contains the application ID from the Developer Dashboard. \nIf a seller uses a [Square App Marketplace](https://developer.squareup.com/docs/app-marketplace) \napplication to process payments, the field contains the corresponding application ID.",
            "nullable": true
          }
        }
      },
      "ApplicationDetailsExternalSquareProduct": {
        "type": "string",
        "enum": [
          "APPOINTMENTS",
          "ECOMMERCE_API",
          "INVOICES",
          "ONLINE_STORE",
          "OTHER",
          "RESTAURANTS",
          "RETAIL",
          "SQUARE_POS",
          "TERMINAL_API",
          "VIRTUAL_TERMINAL"
        ],
        "x-enum-elements": [
          {
            "name": "APPOINTMENTS",
            "description": ""
          },
          {
            "name": "ECOMMERCE_API",
            "description": ""
          },
          {
            "name": "INVOICES",
            "description": ""
          },
          {
            "name": "ONLINE_STORE",
            "description": ""
          },
          {
            "name": "OTHER",
            "description": ""
          },
          {
            "name": "RESTAURANTS",
            "description": ""
          },
          {
            "name": "RETAIL",
            "description": ""
          },
          {
            "name": "SQUARE_POS",
            "description": ""
          },
          {
            "name": "TERMINAL_API",
            "description": ""
          },
          {
            "name": "VIRTUAL_TERMINAL",
            "description": ""
          }
        ],
        "description": "A list of products to return to external callers.",
        "x-release-status": "PUBLIC"
      },
      "ApplicationType": {
        "type": "string",
        "enum": [
          "TERMINAL_API"
        ],
        "x-enum-elements": [
          {
            "name": "TERMINAL_API",
            "description": ""
          }
        ],
        "x-release-status": "BETA"
      },
      "AppointmentSegment": {
        "type": "object",
        "description": "Defines an appointment segment of a booking.",
        "x-release-status": "PUBLIC",
        "required": [
          "team_member_id"
        ],
        "properties": {
          "duration_minutes": {
            "type": "integer",
            "description": "The time span in minutes of an appointment segment.",
            "maximum": 1500,
            "nullable": true
          },
          "service_variation_id": {
            "type": "string",
            "description": "The ID of the [CatalogItemVariation](entity:CatalogItemVariation) object representing the service booked in this segment.",
            "maxLength": 36,
            "nullable": true
          },
          "team_member_id": {
            "type": "string",
            "description": "The ID of the [TeamMember](entity:TeamMember) object representing the team member booked in this segment.",
            "minLength": 1,
            "maxLength": 32
          },
          "service_variation_version": {
            "type": "integer",
            "description": "The current version of the item variation representing the service booked in this segment.",
            "format": "int64",
            "nullable": true
          },
          "intermission_minutes": {
            "type": "integer",
            "description": "Time between the end of this segment and the beginning of the subsequent segment.",
            "readOnly": true
          },
          "any_team_member": {
            "type": "boolean",
            "description": "Whether the customer accepts any team member, instead of a specific one, to serve this segment.",
            "readOnly": true
          },
          "resource_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of the seller-accessible resources used for this appointment segment.",
            "readOnly": true
          }
        }
      },
      "ArchivedState": {
        "type": "string",
        "enum": [
          "ARCHIVED_STATE_NOT_ARCHIVED",
          "ARCHIVED_STATE_ARCHIVED",
          "ARCHIVED_STATE_ALL"
        ],
        "x-enum-elements": [
          {
            "name": "ARCHIVED_STATE_NOT_ARCHIVED",
            "description": "Requested items are not archived with the `is_archived` attribute set to `false`."
          },
          {
            "name": "ARCHIVED_STATE_ARCHIVED",
            "description": "Requested items are archived with the `is_archived` attribute set to `true`."
          },
          {
            "name": "ARCHIVED_STATE_ALL",
            "description": "Requested items can be archived or not archived."
          }
        ],
        "description": "Defines the values for the `archived_state` query expression \nused in [SearchCatalogItems](api-endpoint:Catalog-SearchCatalogItems) \nto return the archived, not archived or either type of catalog items.",
        "x-release-status": "PUBLIC"
      },
      "Availability": {
        "type": "object",
        "description": "Defines an appointment slot that encapsulates the appointment segments, location and starting time available for booking.",
        "x-release-status": "PUBLIC",
        "properties": {
          "start_at": {
            "type": "string",
            "description": "The RFC 3339 timestamp specifying the beginning time of the slot available for booking.",
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the location available for booking.",
            "maxLength": 32,
            "readOnly": true
          },
          "appointment_segments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AppointmentSegment"
            },
            "description": "The list of appointment segments available for booking",
            "nullable": true
          }
        }
      },
      "BankAccount": {
        "type": "object",
        "description": "Represents a bank account. For more information about \nlinking a bank account to a Square account, see \n[Bank Accounts API](https://developer.squareup.com/docs/bank-accounts-api).",
        "x-release-status": "PUBLIC",
        "required": [
          "id",
          "account_number_suffix",
          "country",
          "currency",
          "account_type",
          "holder_name",
          "primary_bank_identification_number",
          "status",
          "creditable",
          "debitable"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique, Square-issued identifier for the bank account.",
            "minLength": 1,
            "maxLength": 30
          },
          "account_number_suffix": {
            "type": "string",
            "description": "The last few digits of the account number.",
            "minLength": 1
          },
          "country": {
            "$ref": "#/components/schemas/Country",
            "description": "The ISO 3166 Alpha-2 country code where the bank account is based.\nSee [Country](#type-country) for possible values"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency",
            "description": "The 3-character ISO 4217 currency code indicating the operating\ncurrency of the bank account. For example, the currency code for US dollars\nis `USD`.\nSee [Currency](#type-currency) for possible values"
          },
          "account_type": {
            "$ref": "#/components/schemas/BankAccountType",
            "description": "The financial purpose of the associated bank account.\nSee [BankAccountType](#type-bankaccounttype) for possible values"
          },
          "holder_name": {
            "type": "string",
            "description": "Name of the account holder. This name must match the name \non the targeted bank account record.",
            "minLength": 1
          },
          "primary_bank_identification_number": {
            "type": "string",
            "description": "Primary identifier for the bank. For more information, see \n[Bank Accounts API](https://developer.squareup.com/docs/bank-accounts-api).",
            "maxLength": 40
          },
          "secondary_bank_identification_number": {
            "type": "string",
            "description": "Secondary identifier for the bank. For more information, see \n[Bank Accounts API](https://developer.squareup.com/docs/bank-accounts-api).",
            "maxLength": 40,
            "nullable": true
          },
          "debit_mandate_reference_id": {
            "type": "string",
            "description": "Reference identifier that will be displayed to UK bank account owners\nwhen collecting direct debit authorization. Only required for UK bank accounts.",
            "nullable": true
          },
          "reference_id": {
            "type": "string",
            "description": "Client-provided identifier for linking the banking account to an entity\nin a third-party system (for example, a bank account number or a user identifier).",
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "description": "The location to which the bank account belongs.",
            "nullable": true
          },
          "status": {
            "$ref": "#/components/schemas/BankAccountStatus",
            "description": "Read-only. The current verification status of this BankAccount object.\nSee [BankAccountStatus](#type-bankaccountstatus) for possible values"
          },
          "creditable": {
            "type": "boolean",
            "description": "Indicates whether it is possible for Square to send money to this bank account."
          },
          "debitable": {
            "type": "boolean",
            "description": "Indicates whether it is possible for Square to take money from this \nbank account."
          },
          "fingerprint": {
            "type": "string",
            "description": "A Square-assigned, unique identifier for the bank account based on the\naccount information. The account fingerprint can be used to compare account\nentries and determine if the they represent the same real-world bank account.",
            "nullable": true
          },
          "version": {
            "type": "integer",
            "description": "The current version of the `BankAccount`."
          },
          "bank_name": {
            "type": "string",
            "description": "Read only. Name of actual financial institution. \nFor example \"Bank of America\".",
            "maxLength": 100,
            "nullable": true
          }
        }
      },
      "BankAccountCreatedEvent": {
        "type": "object",
        "description": "Published when you link an external bank account to a Square\naccount in the Seller Dashboard. Square sets the initial status to\n`VERIFICATION_IN_PROGRESS` and publishes the event.",
        "x-release-status": "PUBLIC",
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "The ID of the target merchant associated with the event.",
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the target location associated with the event.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "The type of event this represents, `\"bank_account.created\"`.",
            "nullable": true
          },
          "event_id": {
            "type": "string",
            "description": "A unique ID for the event.",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp of when the event was created, in RFC 3339 format.",
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/BankAccountCreatedEventData",
            "description": "Data associated with the event.",
            "nullable": true
          }
        },
        "example": {
          "created_at": "2020-02-15T04:38:13Z",
          "data": {
            "id": "bact:cgvL1yv43VFjexample",
            "object": {
              "bank_account": {
                "account_number_suffix": "526",
                "account_type": "CHECKING",
                "bank_name": "Bank Name",
                "country": "US",
                "creditable": true,
                "currency": "USD",
                "debitable": true,
                "holder_name": "John Doe",
                "id": "bact:cgvL1yv43VFjexample",
                "location_id": "S8GWD5DBJ3HF3",
                "primary_bank_identification_number": "101211111",
                "status": "VERIFICATION_IN_PROGRESS",
                "version": 1
              }
            },
            "type": "bank_account"
          },
          "event_id": "d214f854-adb1-4f56-b078-4b8697a3187a",
          "location_id": "S8GWD5DBJ3HF3",
          "merchant_id": "6SSW7HV8K2ST5",
          "type": "bank_account.created"
        },
        "x-webhook": {
          "event": "bank_account.created",
          "scopes": [
            "BANK_ACCOUNTS_READ"
          ]
        },
        "x-api": "#/components/x-apis/BankAccounts",
        "x-since": "2020-02-26"
      },
      "BankAccountCreatedEventData": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "type": {
            "type": "string",
            "description": "Name of the affected object’s type, `\"bank_account\"`.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "ID of the affected bank account."
          },
          "object": {
            "$ref": "#/components/schemas/BankAccountCreatedEventObject",
            "description": "An object containing the created bank account.",
            "nullable": true
          }
        }
      },
      "BankAccountCreatedEventObject": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "bank_account": {
            "$ref": "#/components/schemas/BankAccount",
            "description": "The created bank account.",
            "nullable": true
          }
        }
      },
      "BankAccountDisabledEvent": {
        "type": "object",
        "description": "Published when Square sets the status of a\n[BankAccount](entity:BankAccount) to `DISABLED`.",
        "x-release-status": "PUBLIC",
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "The ID of the target merchant associated with the event.",
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the target location associated with the event.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "The type of event this represents, `\"bank_account.disabled\"`.",
            "nullable": true
          },
          "event_id": {
            "type": "string",
            "description": "A unique ID for the event.",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp of when the event was disabled, in RFC 3339 format.",
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/BankAccountDisabledEventData",
            "description": "Data associated with the event.",
            "nullable": true
          }
        },
        "example": {
          "created_at": "2020-02-15T04:38:13Z",
          "data": {
            "id": "bact:cgvL1yv43VFjexample",
            "object": {
              "bank_account": {
                "account_number_suffix": "526",
                "account_type": "CHECKING",
                "bank_name": "Bank Name",
                "country": "US",
                "creditable": true,
                "currency": "USD",
                "debitable": true,
                "holder_name": "John Doe",
                "id": "bact:cgvL1yv43VFjexample",
                "location_id": "S8GWD5DBJ3HF3",
                "primary_bank_identification_number": "101211111",
                "status": "DISABLED",
                "version": 5
              }
            },
            "type": "bank_account"
          },
          "event_id": "43e8b5c7-706f-49bf-8e2a-90fbe96af93e",
          "location_id": "S8GWD5DBJ3HF3",
          "merchant_id": "6SSW7HV8K2ST5",
          "type": "bank_account.disabled"
        },
        "x-webhook": {
          "event": "bank_account.disabled",
          "scopes": [
            "BANK_ACCOUNTS_READ"
          ]
        },
        "x-api": "#/components/x-apis/BankAccounts",
        "x-since": "2020-02-26"
      },
      "BankAccountDisabledEventData": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "type": {
            "type": "string",
            "description": "Name of the affected object’s type, `\"bank_account\"`.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "ID of the affected bank account."
          },
          "object": {
            "$ref": "#/components/schemas/BankAccountDisabledEventObject",
            "description": "An object containing the disabled bank account.",
            "nullable": true
          }
        }
      },
      "BankAccountDisabledEventObject": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "bank_account": {
            "$ref": "#/components/schemas/BankAccount",
            "description": "The disabled bank account.",
            "nullable": true
          }
        }
      },
      "BankAccountPaymentDetails": {
        "type": "object",
        "description": "Additional details about BANK_ACCOUNT type payments.",
        "x-release-status": "PUBLIC",
        "properties": {
          "bank_name": {
            "type": "string",
            "description": "The name of the bank associated with the bank account.",
            "maxLength": 100,
            "nullable": true
          },
          "transfer_type": {
            "type": "string",
            "description": "The type of the bank transfer. The type can be `ACH` or `UNKNOWN`.",
            "maxLength": 50,
            "nullable": true
          },
          "account_ownership_type": {
            "type": "string",
            "description": "The ownership type of the bank account performing the transfer.\nThe type can be `INDIVIDUAL`, `COMPANY`, or `ACCOUNT_TYPE_UNKNOWN`.",
            "maxLength": 50,
            "nullable": true
          },
          "fingerprint": {
            "type": "string",
            "description": "Uniquely identifies the bank account for this seller and can be used\nto determine if payments are from the same bank account.",
            "maxLength": 255,
            "nullable": true
          },
          "country": {
            "type": "string",
            "description": "The two-letter ISO code representing the country the bank account is located in.",
            "minLength": 2,
            "maxLength": 2,
            "nullable": true
          },
          "statement_description": {
            "type": "string",
            "description": "The statement description as sent to the bank.",
            "maxLength": 1000,
            "nullable": true
          },
          "ach_details": {
            "$ref": "#/components/schemas/ACHDetails",
            "description": "ACH-specific information about the transfer. The information is only populated\nif the `transfer_type` is `ACH`.",
            "nullable": true
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Information about errors encountered during the request.",
            "nullable": true
          }
        }
      },
      "BankAccountStatus": {
        "type": "string",
        "enum": [
          "VERIFICATION_IN_PROGRESS",
          "VERIFIED",
          "DISABLED"
        ],
        "x-enum-elements": [
          {
            "name": "VERIFICATION_IN_PROGRESS",
            "description": "Indicates that the verification process has started. Some features\n(for example, creditable or debitable) may be provisionally enabled on the bank\naccount."
          },
          {
            "name": "VERIFIED",
            "description": "Indicates that the bank account was successfully verified."
          },
          {
            "name": "DISABLED",
            "description": "Indicates that the bank account is disabled and is permanently unusable\nfor funds transfer. A bank account can be disabled because of a failed verification\nattempt or a failed deposit attempt."
          }
        ],
        "description": "Indicates the current verification status of a `BankAccount` object.",
        "x-release-status": "PUBLIC"
      },
      "BankAccountType": {
        "type": "string",
        "enum": [
          "CHECKING",
          "SAVINGS",
          "INVESTMENT",
          "OTHER",
          "BUSINESS_CHECKING"
        ],
        "x-enum-elements": [
          {
            "name": "CHECKING",
            "description": "An account at a financial institution against which checks can be\ndrawn by the account depositor."
          },
          {
            "name": "SAVINGS",
            "description": "An account at a financial institution that pays interest but cannot be\nused directly as money in the narrow sense of a medium of exchange."
          },
          {
            "name": "INVESTMENT",
            "description": "An account at a financial institution that contains a deposit of funds\nand/or securities."
          },
          {
            "name": "OTHER",
            "description": "An account at a financial institution which cannot be described by the\nother types."
          },
          {
            "name": "BUSINESS_CHECKING",
            "description": "An account at a financial institution against which checks can be\ndrawn specifically for business purposes (non-personal use)."
          }
        ],
        "description": "Indicates the financial purpose of the bank account.",
        "x-release-status": "PUBLIC"
      },
      "BankAccountVerifiedEvent": {
        "type": "object",
        "description": "Published when Square sets the status of a\n[BankAccount](entity:BankAccount) to `VERIFIED`.",
        "x-release-status": "PUBLIC",
        "properties": {
          "merchant_id": {
            "type": "string",
            "description": "The ID of the target merchant associated with the event.",
            "nullable": true
          },
          "location_id": {
            "type": "string",
            "description": "The ID of the target location associated with the event.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "The type of event this represents, `\"bank_account.verified\"`.",
            "nullable": true
          },
          "event_id": {
            "type": "string",
            "description": "A unique ID for the event.",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "description": "Timestamp of when the event was verified, in RFC 3339 format.",
            "readOnly": true
          },
          "data": {
            "$ref": "#/components/schemas/BankAccountVerifiedEventData",
            "description": "Data associated with the event.",
            "nullable": true
          }
        },
        "example": {
          "created_at": "2020-02-15T04:38:13Z",
          "data": {
            "id": "bact:cgvL1yv43VFjexample",
            "object": {
              "bank_account": {
                "account_number_suffix": "526",
                "account_type": "CHECKING",
                "bank_name": "Bank Name",
                "country": "US",
                "creditable": true,
                "currency": "USD",
                "debitable": true,
                "holder_name": "John Doe",
                "id": "bact:cgvL1yv43VFjexample",
                "location_id": "S8GWD5DBJ3HF3",
                "primary_bank_identification_number": "101211111",
                "status": "VERIFIED",
                "version": 4
              }
            },
            "type": "bank_account"
          },
          "event_id": "4166853c-0e4c-4202-8fd8-7e65a8f42389",
          "location_id": "S8GWD5DBJ3HF3",
          "merchant_id": "6SSW7HV8K2ST5",
          "type": "bank_account.verified"
        },
        "x-webhook": {
          "event": "bank_account.verified",
          "scopes": [
            "BANK_ACCOUNTS_READ"
          ]
        },
        "x-api": "#/components/x-apis/BankAccounts",
        "x-since": "2020-02-26"
      },
      "BankAccountVerifiedEventData": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "type": {
            "type": "string",
            "description": "Name of the affected object’s type, `\"bank_account\"`.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "ID of the affected bank account."
          },
          "object": {
            "$ref": "#/components/schemas/BankAccountVerifiedEventObject",
            "description": "An object containing the verified bank account.",
            "nullable": true
          }
        }
      },
      "BankAccountVerifiedEventObject": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "bank_account": {
            "$ref": "#/components/schemas/BankAccount",
            "description": "The verified bank account.",
            "nullable": true
          }
        }
      },
      "BatchChangeInventoryRequest": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "required": [
          "idempotency_key"
        ],
        "properties": {
          "idempotency_key": {
            "type": "string",
            "description": "A client-supplied, universally unique identifier (UUID) for the\nrequest.\n\nSee [Idempotency](https://developer.squareup.com/docs/build-basics/common-api-patterns/idempotency) in the\n[API Development 101](https://developer.squareup.com/docs/buildbasics) section for more\ninformation.",
            "minLength": 1,
            "maxLength": 128
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryChange"
            },
            "description": "The set of physical counts and inventory adjustments to be made.\nChanges are applied based on the client-supplied timestamp and may be sent\nout of order.",
            "nullable": true
          },
          "ignore_unchanged_counts": {
            "type": "boolean",
            "description": "Indicates whether the current physical count should be ignored if\nthe quantity is unchanged since the last physical count. Default: `true`.",
            "nullable": true
          }
        },
        "example": {
          "changes": [
            {
              "physical_count": {
                "catalog_object_id": "W62UWFY35CWMYGVWK6TWJDNI",
                "location_id": "C6W5YS5QM06F5",
                "occurred_at": "2016-11-16T22:25:24.878Z",
                "quantity": "53",
                "reference_id": "1536bfbf-efed-48bf-b17d-a197141b2a92",
                "state": "IN_STOCK",
                "team_member_id": "LRK57NSQ5X7PUD05"
              },
              "type": "PHYSICAL_COUNT"
            }
          ],
          "idempotency_key": "8fc6a5b0-9fe8-4b46-b46b-2ef95793abbe",
          "ignore_unchanged_counts": true
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.csharp",
          "java": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.java",
          "javascript": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.javascript",
          "php": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.php",
          "python": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.python",
          "ruby": "/sdk_samples/Inventory/BatchChangeInventory/BatchChangeInventoryRequest.ruby"
        }
      },
      "BatchChangeInventoryResponse": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "counts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryCount"
            },
            "description": "The current counts for all objects referenced in the request."
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryChange"
            },
            "description": "Changes created for the request.",
            "x-release-status": "BETA"
          }
        },
        "example": {
          "counts": [
            {
              "calculated_at": "2016-11-16T22:28:01.223Z",
              "catalog_object_id": "W62UWFY35CWMYGVWK6TWJDNI",
              "catalog_object_type": "ITEM_VARIATION",
              "location_id": "C6W5YS5QM06F5",
              "quantity": "53",
              "state": "IN_STOCK"
            }
          ],
          "errors": []
        }
      },
      "BatchDeleteCatalogObjectsRequest": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "required": [
          "object_ids"
        ],
        "properties": {
          "object_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of the CatalogObjects to be deleted. When an object is deleted, other objects\nin the graph that depend on that object will be deleted as well (for example, deleting a\nCatalogItem will delete its CatalogItemVariation."
          }
        },
        "example": {
          "object_ids": [
            "W62UWFY35CWMYGVWK6TWJDNI",
            "AA27W3M2GGTF3H6AVPNB77CK"
          ]
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.csharp",
          "java": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.java",
          "javascript": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.javascript",
          "php": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.php",
          "python": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.python",
          "ruby": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsRequest.ruby"
        }
      },
      "BatchDeleteCatalogObjectsResponse": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "deleted_object_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of all CatalogObjects deleted by this request."
          },
          "deleted_at": {
            "type": "string",
            "description": "The database [timestamp](https://developer.squareup.com/docs/build-basics/working-with-dates) of this deletion in RFC 3339 format, e.g., \"2016-09-04T23:59:33.123Z\"."
          }
        },
        "example": {
          "deleted_at": "2016-11-16T22:25:24.878Z",
          "deleted_object_ids": [
            "W62UWFY35CWMYGVWK6TWJDNI",
            "AA27W3M2GGTF3H6AVPNB77CK"
          ]
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.csharp",
          "java": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.java",
          "javascript": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.javascript",
          "php": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.php",
          "python": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.python",
          "ruby": "/sdk_samples/Catalog/BatchDeleteCatalogObjects/BatchDeleteCatalogObjectsResponse.ruby"
        }
      },
      "BatchRetrieveCatalogObjectsRequest": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "required": [
          "object_ids"
        ],
        "properties": {
          "object_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The IDs of the CatalogObjects to be retrieved."
          },
          "include_related_objects": {
            "type": "boolean",
            "description": "If `true`, the response will include additional objects that are related to the\nrequested objects. Related objects are defined as any objects referenced by ID by the results in the `objects` field\nof the response. These objects are put in the `related_objects` field. Setting this to `true` is\nhelpful when the objects are needed for immediate display to a user.\nThis process only goes one level deep. Objects referenced by the related objects will not be included. For example,\n\nif the `objects` field of the response contains a CatalogItem, its associated\nCatalogCategory objects, CatalogTax objects, CatalogImage objects and\nCatalogModifierLists will be returned in the `related_objects` field of the\nresponse. If the `objects` field of the response contains a CatalogItemVariation,\nits parent CatalogItem will be returned in the `related_objects` field of\nthe response.\n\nDefault value: `false`",
            "nullable": true
          },
          "catalog_version": {
            "type": "integer",
            "description": "The specific version of the catalog objects to be included in the response. \nThis allows you to retrieve historical versions of objects. The specified version value is matched against\nthe [CatalogObject](entity:CatalogObject)s' `version` attribute. If not included, results will\nbe from the current version of the catalog.",
            "format": "int64",
            "x-release-status": "BETA",
            "nullable": true
          },
          "include_deleted_objects": {
            "type": "boolean",
            "description": "Indicates whether to include (`true`) or not (`false`) in the response deleted objects, namely, those with the `is_deleted` attribute set to `true`.",
            "nullable": true
          },
          "include_category_path_to_root": {
            "type": "boolean",
            "description": "Specifies whether or not to include the `path_to_root` list for each returned category instance. The `path_to_root` list consists\nof `CategoryPathToRootNode` objects and specifies the path that starts with the immediate parent category of the returned category\nand ends with its root category. If the returned category is a top-level category, the `path_to_root` list is empty and is not returned\nin the response payload.",
            "nullable": true
          }
        },
        "example": {
          "include_related_objects": true,
          "object_ids": [
            "W62UWFY35CWMYGVWK6TWJDNI",
            "AA27W3M2GGTF3H6AVPNB77CK"
          ]
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.csharp",
          "java": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.java",
          "javascript": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.javascript",
          "php": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.php",
          "python": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.python",
          "ruby": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsRequest.ruby"
        }
      },
      "BatchRetrieveCatalogObjectsResponse": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogObject"
            },
            "description": "A list of [CatalogObject](entity:CatalogObject)s returned."
          },
          "related_objects": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogObject"
            },
            "description": "A list of [CatalogObject](entity:CatalogObject)s referenced by the object in the `objects` field."
          }
        },
        "example": {
          "objects": [
            {
              "id": "W62UWFY35CWMYGVWK6TWJDNI",
              "is_deleted": false,
              "item_data": {
                "categories": [
                  {
                    "id": "BJNQCF2FJ6S6UIDT65ABHLRX",
                    "ordinal": 0
                  }
                ],
                "description": "Hot Leaf Juice",
                "name": "Tea",
                "tax_ids": [
                  "HURXQOOAIC4IZSI2BEXQRYFY"
                ],
                "variations": [
                  {
                    "id": "2TZFAOHWGG7PAK2QEXWYPZSP",
                    "is_deleted": false,
                    "item_variation_data": {
                      "item_id": "W62UWFY35CWMYGVWK6TWJDNI",
                      "name": "Mug",
                      "ordinal": 0,
                      "price_money": {
                        "amount": 150,
                        "currency": "USD"
                      },
                      "pricing_type": "FIXED_PRICING"
                    },
                    "present_at_all_locations": true,
                    "type": "ITEM_VARIATION",
                    "updated_at": "2016-11-16T22:25:24.878Z",
                    "version": 1479335124878
                  }
                ]
              },
              "present_at_all_locations": true,
              "type": "ITEM",
              "updated_at": "2016-11-16T22:25:24.878Z",
              "version": 1479335124878
            },
            {
              "id": "AA27W3M2GGTF3H6AVPNB77CK",
              "is_deleted": false,
              "item_data": {
                "categories": [
                  {
                    "id": "BJNQCF2FJ6S6UIDT65ABHLRX",
                    "ordinal": 0
                  }
                ],
                "description": "Hot Bean Juice",
                "name": "Coffee",
                "tax_ids": [
                  "HURXQOOAIC4IZSI2BEXQRYFY"
                ],
                "variations": [
                  {
                    "id": "LBTYIHNHU52WOIHWT7SNRIYH",
                    "is_deleted": false,
                    "item_variation_data": {
                      "item_id": "AA27W3M2GGTF3H6AVPNB77CK",
                      "name": "Regular",
                      "ordinal": 0,
                      "price_money": {
                        "amount": 250,
                        "currency": "USD"
                      },
                      "pricing_type": "FIXED_PRICING"
                    },
                    "present_at_all_locations": true,
                    "type": "ITEM_VARIATION",
                    "updated_at": "2016-11-16T22:25:24.878Z",
                    "version": 1479335124878
                  },
                  {
                    "id": "PKYIC7HGGKW5CYVSCVDEIMHY",
                    "is_deleted": false,
                    "item_variation_data": {
                      "item_id": "AA27W3M2GGTF3H6AVPNB77CK",
                      "name": "Large",
                      "ordinal": 1,
                      "price_money": {
                        "amount": 350,
                        "currency": "USD"
                      },
                      "pricing_type": "FIXED_PRICING"
                    },
                    "present_at_all_locations": true,
                    "type": "ITEM_VARIATION",
                    "updated_at": "2016-11-16T22:25:24.878Z",
                    "version": 1479335124878
                  }
                ]
              },
              "present_at_all_locations": true,
              "type": "ITEM",
              "updated_at": "2016-11-16T22:25:24.878Z",
              "version": 1479335124878
            }
          ],
          "related_objects": [
            {
              "category_data": {
                "name": "Beverages"
              },
              "id": "BJNQCF2FJ6S6UIDT65ABHLRX",
              "is_deleted": false,
              "present_at_all_locations": true,
              "type": "CATEGORY",
              "updated_at": "2016-11-16T22:25:24.878Z",
              "version": 1479335124878
            },
            {
              "id": "HURXQOOAIC4IZSI2BEXQRYFY",
              "is_deleted": false,
              "present_at_all_locations": true,
              "tax_data": {
                "calculation_phase": "TAX_SUBTOTAL_PHASE",
                "enabled": true,
                "inclusion_type": "ADDITIVE",
                "name": "Sales Tax",
                "percentage": "5.0"
              },
              "type": "TAX",
              "updated_at": "2016-11-16T22:25:24.878Z",
              "version": 1479335124878
            }
          ]
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.csharp",
          "java": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.java",
          "javascript": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.javascript",
          "php": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.php",
          "python": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.python",
          "ruby": "/sdk_samples/Catalog/BatchRetrieveCatalogObjects/BatchRetrieveCatalogObjectsResponse.ruby"
        }
      },
      "BatchRetrieveInventoryChangesRequest": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "catalog_object_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The filter to return results by `CatalogObject` ID.\nThe filter is only applicable when set. The default value is null.",
            "nullable": true
          },
          "location_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The filter to return results by `Location` ID.\nThe filter is only applicable when set. The default value is null.",
            "nullable": true
          },
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryChangeType"
            },
            "description": "The filter to return results by `InventoryChangeType` values other than `TRANSFER`.\nThe default value is `[PHYSICAL_COUNT, ADJUSTMENT]`.",
            "nullable": true
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryState"
            },
            "description": "The filter to return `ADJUSTMENT` query results by\n`InventoryState`. This filter is only applied when set.\nThe default value is null.",
            "nullable": true
          },
          "updated_after": {
            "type": "string",
            "description": "The filter to return results with their `calculated_at` value\nafter the given time as specified in an RFC 3339 timestamp.\nThe default value is the UNIX epoch of (`1970-01-01T00:00:00Z`).",
            "nullable": true
          },
          "updated_before": {
            "type": "string",
            "description": "The filter to return results with their `created_at` or `calculated_at` value\nstrictly before the given time as specified in an RFC 3339 timestamp.\nThe default value is the UNIX epoch of (`1970-01-01T00:00:00Z`).",
            "nullable": true
          },
          "cursor": {
            "type": "string",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for the original query.\n\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information.",
            "nullable": true
          },
          "limit": {
            "type": "integer",
            "description": "The number of [records](entity:InventoryChange) to return.",
            "minimum": 1,
            "maximum": 1000,
            "nullable": true
          }
        },
        "example": {
          "catalog_object_ids": [
            "W62UWFY35CWMYGVWK6TWJDNI"
          ],
          "location_ids": [
            "C6W5YS5QM06F5"
          ],
          "states": [
            "IN_STOCK"
          ],
          "types": [
            "PHYSICAL_COUNT"
          ],
          "updated_after": "2016-11-01T00:00:00.000Z",
          "updated_before": "2016-12-01T00:00:00.000Z"
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.csharp",
          "java": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.java",
          "javascript": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.javascript",
          "php": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.php",
          "python": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.python",
          "ruby": "/sdk_samples/Inventory/BatchRetrieveInventoryChanges/BatchRetrieveInventoryChangesRequest.ruby"
        }
      },
      "BatchRetrieveInventoryChangesResponse": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryChange"
            },
            "description": "The current calculated inventory changes for the requested objects\nand locations."
          },
          "cursor": {
            "type": "string",
            "description": "The pagination cursor to be used in a subsequent request. If unset,\nthis is the final response.\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information."
          }
        },
        "example": {
          "changes": [
            {
              "physical_count": {
                "catalog_object_id": "W62UWFY35CWMYGVWK6TWJDNI",
                "catalog_object_type": "ITEM_VARIATION",
                "created_at": "2016-11-16T22:25:24.878Z",
                "id": "46YDTW253DWGGK9HMAE6XCAO",
                "location_id": "C6W5YS5QM06F5",
                "occurred_at": "2016-11-16T22:24:49.028Z",
                "quantity": "86",
                "reference_id": "22c07cf4-5626-4224-89f9-691112019399",
                "source": {
                  "application_id": "416ff29c-86c4-4feb-b58c-9705f21f3ea0",
                  "name": "Square Point of Sale 4.37",
                  "product": "SQUARE_POS"
                },
                "state": "IN_STOCK",
                "team_member_id": "LRK57NSQ5X7PUD05"
              },
              "type": "PHYSICAL_COUNT"
            }
          ],
          "errors": []
        }
      },
      "BatchRetrieveInventoryCountsRequest": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "catalog_object_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The filter to return results by `CatalogObject` ID.\nThe filter is applicable only when set.  The default is null.",
            "nullable": true
          },
          "location_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The filter to return results by `Location` ID.\nThis filter is applicable only when set. The default is null.",
            "nullable": true
          },
          "updated_after": {
            "type": "string",
            "description": "The filter to return results with their `calculated_at` value\nafter the given time as specified in an RFC 3339 timestamp.\nThe default value is the UNIX epoch of (`1970-01-01T00:00:00Z`).",
            "nullable": true
          },
          "cursor": {
            "type": "string",
            "description": "A pagination cursor returned by a previous call to this endpoint.\nProvide this to retrieve the next set of results for the original query.\n\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information.",
            "nullable": true
          },
          "states": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryState"
            },
            "description": "The filter to return results by `InventoryState`. The filter is only applicable when set.\nIgnored are untracked states of `NONE`, `SOLD`, and `UNLINKED_RETURN`.\nThe default is null.",
            "nullable": true
          },
          "limit": {
            "type": "integer",
            "description": "The number of [records](entity:InventoryCount) to return.",
            "minimum": 1,
            "maximum": 1000,
            "nullable": true
          }
        },
        "example": {
          "catalog_object_ids": [
            "W62UWFY35CWMYGVWK6TWJDNI"
          ],
          "location_ids": [
            "59TNP9SA8VGDA"
          ],
          "updated_after": "2016-11-16T00:00:00.000Z"
        },
        "x-sq-sdk-sample-code": {
          "csharp": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.csharp",
          "java": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.java",
          "javascript": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.javascript",
          "php": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.php",
          "python": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.python",
          "ruby": "/sdk_samples/Inventory/BatchRetrieveInventoryCounts/BatchRetrieveInventoryCountsRequest.ruby"
        }
      },
      "BatchRetrieveInventoryCountsResponse": {
        "type": "object",
        "x-release-status": "PUBLIC",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Error"
            },
            "description": "Any errors that occurred during the request."
          },
          "counts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InventoryCount"
            },
            "description": "The current calculated inventory counts for the requested objects\nand locations."
          },
          "cursor": {
            "type": "string",
            "description": "The pagination cursor to be used in a subsequent request. If unset,\nthis is the final response.\n\nSee the [Pagination](https://developer.squareup.com/docs/working-with-apis/pagination) guide for more information."
          }
        },
        "example": {
          "counts": [
            {
              "calculated_at": "2016-11-16T22:28:01.223Z",
              "catalog_object_id": "W62UWFY35CWMYGVWK6TWJDNI",
              "catalog_object_type": "ITEM_VARIATION",
              "location_id": "59TNP9SA8VGDA",
              "quantity": "79",
              "state": "IN_STOCK"
            }
          ],
          "errors": []
        }
      },
      "BatchRetrieveOrdersRequest": {
        "type": "object",
        "description": "Defines the fields that are included in requests to the\n`BatchRetrieveOrders` endpoint.",
        "x-release-status": "PUBLIC",
        "required": [
          "order_ids"
[...]
