// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import type * as Square from "../../../index";

export declare namespace ChannelsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ChannelsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ChannelsClient.Options>;

    constructor(options: ChannelsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Square.ListChannelsRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.channels.list({
     *         referenceType: "UNKNOWN_TYPE",
     *         referenceId: "reference_id",
     *         status: "ACTIVE",
     *         cursor: "cursor",
     *         limit: 1
     *     })
     */
    public async list(
        request: Square.ListChannelsRequest = {},
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.Page<Square.Channel, Square.ListChannelsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Square.ListChannelsRequest): Promise<core.WithRawResponse<Square.ListChannelsResponse>> => {
                const { referenceType, referenceId, status, cursor, limit } = request;
                const _queryParams: Record<string, unknown> = {
                    reference_type:
                        referenceType !== undefined
                            ? serializers.ReferenceType.jsonOrThrow(referenceType, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : null,
                    reference_id: referenceId,
                    status:
                        status !== undefined
                            ? serializers.ChannelStatus.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                                  omitUndefined: true,
                              })
                            : null,
                    cursor,
                    limit,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SquareEnvironment.Production,
                        "v2/channels",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListChannelsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SquareError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/channels");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Square.Channel, Square.ListChannelsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.cursor != null && !(typeof response?.cursor === "string" && response?.cursor === ""),
            getItems: (response) => response?.channels ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.cursor));
            },
        });
    }

    /**
     * @param {Square.BulkRetrieveChannelsRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.channels.bulkRetrieve({
     *         channelIds: ["CH_9C03D0B59", "CH_6X139B5MN", "NOT_EXISTING"]
     *     })
     */
    public bulkRetrieve(
        request: Square.BulkRetrieveChannelsRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.BulkRetrieveChannelsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__bulkRetrieve(request, requestOptions));
    }

    private async __bulkRetrieve(
        request: Square.BulkRetrieveChannelsRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.BulkRetrieveChannelsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/channels/bulk-retrieve",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.BulkRetrieveChannelsRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.BulkRetrieveChannelsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/channels/bulk-retrieve");
    }

    /**
     * @param {Square.GetChannelsRequest} request
     * @param {ChannelsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.channels.get({
     *         channelId: "channel_id"
     *     })
     */
    public get(
        request: Square.GetChannelsRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.RetrieveChannelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Square.GetChannelsRequest,
        requestOptions?: ChannelsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.RetrieveChannelResponse>> {
        const { channelId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/channels/${core.url.encodePathParam(channelId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetrieveChannelResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/channels/{channel_id}");
    }
}
