// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Square from "../../../../../index";

export declare namespace ActivitiesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ActivitiesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ActivitiesClient.Options>;

    constructor(options: ActivitiesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Lists gift card activities. By default, you get gift card activities for all
     * gift cards in the seller's account. You can optionally specify query parameters to
     * filter the list. For example, you can get a list of gift card activities for a gift card,
     * for all gift cards in a specific region, or for activities within a time window.
     *
     * @param {Square.giftCards.ListActivitiesRequest} request
     * @param {ActivitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.giftCards.activities.list({
     *         giftCardId: "gift_card_id",
     *         type: "type",
     *         locationId: "location_id",
     *         beginTime: "begin_time",
     *         endTime: "end_time",
     *         limit: 1,
     *         cursor: "cursor",
     *         sortOrder: "sort_order"
     *     })
     */
    public async list(
        request: Square.giftCards.ListActivitiesRequest = {},
        requestOptions?: ActivitiesClient.RequestOptions,
    ): Promise<core.Page<Square.GiftCardActivity, Square.ListGiftCardActivitiesResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Square.giftCards.ListActivitiesRequest,
            ): Promise<core.WithRawResponse<Square.ListGiftCardActivitiesResponse>> => {
                const { giftCardId, type: type_, locationId, beginTime, endTime, limit, cursor, sortOrder } = request;
                const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
                if (giftCardId !== undefined) {
                    _queryParams.gift_card_id = giftCardId;
                }
                if (type_ !== undefined) {
                    _queryParams.type = type_;
                }
                if (locationId !== undefined) {
                    _queryParams.location_id = locationId;
                }
                if (beginTime !== undefined) {
                    _queryParams.begin_time = beginTime;
                }
                if (endTime !== undefined) {
                    _queryParams.end_time = endTime;
                }
                if (limit !== undefined) {
                    _queryParams.limit = limit?.toString() ?? null;
                }
                if (cursor !== undefined) {
                    _queryParams.cursor = cursor;
                }
                if (sortOrder !== undefined) {
                    _queryParams.sort_order = sortOrder;
                }
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SquareEnvironment.Production,
                        "v2/gift-cards/activities",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListGiftCardActivitiesResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SquareError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/v2/gift-cards/activities",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Square.GiftCardActivity, Square.ListGiftCardActivitiesResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.cursor != null && !(typeof response?.cursor === "string" && response?.cursor === ""),
            getItems: (response) => response?.giftCardActivities ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.cursor));
            },
        });
    }

    /**
     * Creates a gift card activity to manage the balance or state of a [gift card](entity:GiftCard).
     * For example, create an `ACTIVATE` activity to activate a gift card with an initial balance before first use.
     *
     * @param {Square.giftCards.CreateGiftCardActivityRequest} request
     * @param {ActivitiesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.giftCards.activities.create({
     *         idempotencyKey: "U16kfr-kA70er-q4Rsym-7U7NnY",
     *         giftCardActivity: {
     *             type: "ACTIVATE",
     *             locationId: "81FN9BNFZTKS4",
     *             giftCardId: "gftc:6d55a72470d940c6ba09c0ab8ad08d20",
     *             activateActivityDetails: {
     *                 orderId: "jJNGHm4gLI6XkFbwtiSLqK72KkAZY",
     *                 lineItemUid: "eIWl7X0nMuO9Ewbh0ChIx"
     *             }
     *         }
     *     })
     */
    public create(
        request: Square.giftCards.CreateGiftCardActivityRequest,
        requestOptions?: ActivitiesClient.RequestOptions,
    ): core.HttpResponsePromise<Square.CreateGiftCardActivityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Square.giftCards.CreateGiftCardActivityRequest,
        requestOptions?: ActivitiesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.CreateGiftCardActivityResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/gift-cards/activities",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.giftCards.CreateGiftCardActivityRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreateGiftCardActivityResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/gift-cards/activities");
    }
}
