// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import type * as Square from "../../../index";

export declare namespace BankAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BankAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BankAccountsClient.Options>;

    constructor(options: BankAccountsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of [BankAccount](entity:BankAccount) objects linked to a Square account.
     *
     * @param {Square.ListBankAccountsRequest} request
     * @param {BankAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bankAccounts.list({
     *         cursor: "cursor",
     *         limit: 1,
     *         locationId: "location_id",
     *         customerId: "customer_id"
     *     })
     */
    public async list(
        request: Square.ListBankAccountsRequest = {},
        requestOptions?: BankAccountsClient.RequestOptions,
    ): Promise<core.Page<Square.BankAccount, Square.ListBankAccountsResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Square.ListBankAccountsRequest,
            ): Promise<core.WithRawResponse<Square.ListBankAccountsResponse>> => {
                const { cursor, limit, locationId, customerId } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    limit,
                    location_id: locationId,
                    customer_id: customerId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.SquareEnvironment.Production,
                        "v2/bank-accounts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ListBankAccountsResponse.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.SquareError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/bank-accounts");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Square.BankAccount, Square.ListBankAccountsResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.cursor != null && !(typeof response?.cursor === "string" && response?.cursor === ""),
            getItems: (response) => response?.bankAccounts ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.cursor));
            },
        });
    }

    /**
     * Store a bank account on file for a square account
     *
     * @param {Square.CreateBankAccountRequest} request
     * @param {BankAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bankAccounts.createBankAccount({
     *         idempotencyKey: "4e43559a-f0fd-47d3-9da2-7ea1f97d94be",
     *         sourceId: "bnon:CA4SEHsQwr0rx6DbWLD5BQaqMnoYAQ",
     *         customerId: "HM3B2D5JKGZ69359BTEHXM2V8M"
     *     })
     */
    public createBankAccount(
        request: Square.CreateBankAccountRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.CreateBankAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createBankAccount(request, requestOptions));
    }

    private async __createBankAccount(
        request: Square.CreateBankAccountRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.CreateBankAccountResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/bank-accounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.CreateBankAccountRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreateBankAccountResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/bank-accounts");
    }

    /**
     * Returns details of a [BankAccount](entity:BankAccount) identified by V1 bank account ID.
     *
     * @param {Square.GetByV1IdBankAccountsRequest} request
     * @param {BankAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bankAccounts.getByV1Id({
     *         v1BankAccountId: "v1_bank_account_id"
     *     })
     */
    public getByV1Id(
        request: Square.GetByV1IdBankAccountsRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.GetBankAccountByV1IdResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getByV1Id(request, requestOptions));
    }

    private async __getByV1Id(
        request: Square.GetByV1IdBankAccountsRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.GetBankAccountByV1IdResponse>> {
        const { v1BankAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/bank-accounts/by-v1-id/${core.url.encodePathParam(v1BankAccountId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetBankAccountByV1IdResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/bank-accounts/by-v1-id/{v1_bank_account_id}",
        );
    }

    /**
     * Retrieve details of a [BankAccount](entity:BankAccount) bank account linked to a Square account.
     *
     * @param {Square.GetBankAccountsRequest} request
     * @param {BankAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bankAccounts.get({
     *         bankAccountId: "bank_account_id"
     *     })
     */
    public get(
        request: Square.GetBankAccountsRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.GetBankAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(request, requestOptions));
    }

    private async __get(
        request: Square.GetBankAccountsRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.GetBankAccountResponse>> {
        const { bankAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/bank-accounts/${core.url.encodePathParam(bankAccountId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetBankAccountResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/bank-accounts/{bank_account_id}",
        );
    }

    /**
     * Disable a bank account.
     *
     * @param {Square.DisableBankAccountRequest} request
     * @param {BankAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bankAccounts.disableBankAccount({
     *         bankAccountId: "bank_account_id"
     *     })
     */
    public disableBankAccount(
        request: Square.DisableBankAccountRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Square.DisableBankAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disableBankAccount(request, requestOptions));
    }

    private async __disableBankAccount(
        request: Square.DisableBankAccountRequest,
        requestOptions?: BankAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.DisableBankAccountResponse>> {
        const { bankAccountId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/bank-accounts/${core.url.encodePathParam(bankAccountId)}/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DisableBankAccountResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/bank-accounts/{bank_account_id}/disable",
        );
    }
}
