// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import type * as Square from "../../../index";
import { AccountsClient } from "../resources/accounts/client/Client";
import { ProgramsClient } from "../resources/programs/client/Client";
import { RewardsClient } from "../resources/rewards/client/Client";

export declare namespace LoyaltyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LoyaltyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LoyaltyClient.Options>;
    protected _accounts: AccountsClient | undefined;
    protected _programs: ProgramsClient | undefined;
    protected _rewards: RewardsClient | undefined;

    constructor(options: LoyaltyClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get accounts(): AccountsClient {
        return (this._accounts ??= new AccountsClient(this._options));
    }

    public get programs(): ProgramsClient {
        return (this._programs ??= new ProgramsClient(this._options));
    }

    public get rewards(): RewardsClient {
        return (this._rewards ??= new RewardsClient(this._options));
    }

    /**
     * Searches for loyalty events.
     *
     * A Square loyalty program maintains a ledger of events that occur during the lifetime of a
     * buyer's loyalty account. Each change in the point balance
     * (for example, points earned, points redeemed, and points expired) is
     * recorded in the ledger. Using this endpoint, you can search the ledger for events.
     *
     * Search results are sorted by `created_at` in descending order.
     *
     * @param {Square.SearchLoyaltyEventsRequest} request
     * @param {LoyaltyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.loyalty.searchEvents({
     *         query: {
     *             filter: {
     *                 orderFilter: {
     *                     orderId: "PyATxhYLfsMqpVkcKJITPydgEYfZY"
     *                 }
     *             }
     *         },
     *         limit: 30
     *     })
     */
    public searchEvents(
        request: Square.SearchLoyaltyEventsRequest = {},
        requestOptions?: LoyaltyClient.RequestOptions,
    ): core.HttpResponsePromise<Square.SearchLoyaltyEventsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__searchEvents(request, requestOptions));
    }

    private async __searchEvents(
        request: Square.SearchLoyaltyEventsRequest = {},
        requestOptions?: LoyaltyClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.SearchLoyaltyEventsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2025-10-16" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/loyalty/events/search",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.SearchLoyaltyEventsRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.SearchLoyaltyEventsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/loyalty/events/search");
    }
}
