// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import type * as Square from "../../../index";
import { PaymentLinksClient } from "../resources/paymentLinks/client/Client";

export declare namespace CheckoutClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CheckoutClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CheckoutClient.Options>;
    protected _paymentLinks: PaymentLinksClient | undefined;

    constructor(options: CheckoutClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    public get paymentLinks(): PaymentLinksClient {
        return (this._paymentLinks ??= new PaymentLinksClient(this._options));
    }

    /**
     * Retrieves the location-level settings for a Square-hosted checkout page.
     *
     * @param {Square.RetrieveLocationSettingsRequest} request
     * @param {CheckoutClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.checkout.retrieveLocationSettings({
     *         locationId: "location_id"
     *     })
     */
    public retrieveLocationSettings(
        request: Square.RetrieveLocationSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): core.HttpResponsePromise<Square.RetrieveLocationSettingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveLocationSettings(request, requestOptions));
    }

    private async __retrieveLocationSettings(
        request: Square.RetrieveLocationSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.RetrieveLocationSettingsResponse>> {
        const { locationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/online-checkout/location-settings/${core.url.encodePathParam(locationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetrieveLocationSettingsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/online-checkout/location-settings/{location_id}",
        );
    }

    /**
     * Updates the location-level settings for a Square-hosted checkout page.
     *
     * @param {Square.UpdateLocationSettingsRequest} request
     * @param {CheckoutClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.checkout.updateLocationSettings({
     *         locationId: "location_id",
     *         locationSettings: {}
     *     })
     */
    public updateLocationSettings(
        request: Square.UpdateLocationSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): core.HttpResponsePromise<Square.UpdateLocationSettingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateLocationSettings(request, requestOptions));
    }

    private async __updateLocationSettings(
        request: Square.UpdateLocationSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.UpdateLocationSettingsResponse>> {
        const { locationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                `v2/online-checkout/location-settings/${core.url.encodePathParam(locationId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.UpdateLocationSettingsRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UpdateLocationSettingsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/online-checkout/location-settings/{location_id}",
        );
    }

    /**
     * Retrieves the merchant-level settings for a Square-hosted checkout page.
     *
     * @param {CheckoutClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.checkout.retrieveMerchantSettings()
     */
    public retrieveMerchantSettings(
        requestOptions?: CheckoutClient.RequestOptions,
    ): core.HttpResponsePromise<Square.RetrieveMerchantSettingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieveMerchantSettings(requestOptions));
    }

    private async __retrieveMerchantSettings(
        requestOptions?: CheckoutClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.RetrieveMerchantSettingsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/online-checkout/merchant-settings",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.RetrieveMerchantSettingsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/v2/online-checkout/merchant-settings",
        );
    }

    /**
     * Updates the merchant-level settings for a Square-hosted checkout page.
     *
     * @param {Square.UpdateMerchantSettingsRequest} request
     * @param {CheckoutClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.checkout.updateMerchantSettings({
     *         merchantSettings: {}
     *     })
     */
    public updateMerchantSettings(
        request: Square.UpdateMerchantSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): core.HttpResponsePromise<Square.UpdateMerchantSettingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateMerchantSettings(request, requestOptions));
    }

    private async __updateMerchantSettings(
        request: Square.UpdateMerchantSettingsRequest,
        requestOptions?: CheckoutClient.RequestOptions,
    ): Promise<core.WithRawResponse<Square.UpdateMerchantSettingsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Square-Version": requestOptions?.version ?? "2026-01-22" }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SquareEnvironment.Production,
                "v2/online-checkout/merchant-settings",
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.UpdateMerchantSettingsRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.UpdateMerchantSettingsResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.SquareError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/v2/online-checkout/merchant-settings",
        );
    }
}
